doctype html
html
  head
    title #{title}
    link(rel="stylesheet" href="/styles.css")
  body
    h1 #{title}
    form(action="/admin/add-project" method="POST")
      label(for="title") Title:
      input(type="text" name="title" required)
      label(for="description") Description:
      textarea(name="description" required)
      label(for="techStack") Tech Stack (comma-separated):
      input(type="text" name="techStack")
      label(for="githubLink") GitHub Link:
      input(type="url" name="githubLink")
      button(type="submit") Add Project
        
    // Button to go back to the home page
    form(action="/" method="get")
      button(type="submit") Home  
