doctype html
html
  head
    title #{title}
    link(rel="stylesheet" href="/styles.css")
  body
    h1 #{message}
    p Click on the buttons below to take to Projects and Skills listing
    ul
      // Form for adding a project
      form(action="/admin/add-project" method="get")
        button(type="submit") Go to Projects Listing
      
      // Form for adding a skill
      form(action="/admin/add-skill" method="get")
        button(type="submit") Go to Skills Listing
